<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Store</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

<div class="container py-3">
    <header>
        <div th:replace="fragments/header :: header(controller=${controller}, currentPage='store')"></div>

    </header>

        <nav class="nav nav-pills nav-fill d-flex justify-content-end mt-2 mb-3">
<!--            aria-current="page"-->
            <a th:classappend="${currentPage == 'stock' ? 'active' : ''}" class="nav-link" href="stock">Stock</a>
            <a th:classappend="${currentPage == 'workers' ? 'active' : ''}" class="nav-link" href="workers">Workers</a>
            <a th:classappend="${currentPage == 'deals' ? 'active' : ''}" class="nav-link" href="deals">Deals</a>
            <a th:classappend="${currentPage == 'bagConstraints' ? 'active' : ''}" class="nav-link" href="bagConstraints">Bag Constraints</a>
        </nav>
    <div class="row justify-content-end">
        <h3 th:if="${store != null}" class="col-9 card-title pricing-card-title mb-3 text-center" th:text="${store.storeName}"></h3>
        <form th:if="${store.isActive}" class="col-auto" action="closeStore" method="post">
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheckClose" required>
                <label class="form-check-label w-100" for="invalidCheckClose">
                    <button type="submit" class="btn btn-outline-danger">Close Store</button>
                </label>
            </div>
        </form>

<!--        <form th:if="${!store.isActive}" class="col-auto" action="store" method="post">-->
            <div th:if="${!store.isActive}" class="col-auto form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheckOpen" required>
                <label class="form-check-label w-100" for="invalidCheckOpen">
                    <button type="submit" class="btn btn-outline-success">Open Store</button>
                </label>
            </div>
<!--        </form>-->
    </div>
    <h4 th:if="${store != null && store.isActive}" class="fw-normal mb-3 text-center" style="color:#13ca13">Open</h4>
    <h4 th:if="${store != null && !store.isActive}" class="fw-normal mb-3 text-center" style="color:red">Closed</h4>


    <div th:replace="fragments/alert :: alert(${alert})"></div>

<!--    <main>-->
        <div th:if="${currentPage == 'stock'}">
            <div th:replace="storeTemplates/stock :: stock(store=${store})"></div>
        </div>
        <div th:if="${currentPage == 'workers'}">
            <div th:replace="storeTemplates/workers :: workers(store=${store}, workers=${workers})"></div>
        </div>
        <div th:if="${currentPage == 'deals'}">
            <div th:replace="storeTemplates/deals :: deals(deals=${deals})"></div>
        </div>
        <div th:if="${currentPage == 'bagConstraints'}">
            <div th:replace="storeTemplates/bagConstraints :: bagConstraints(constraints=${constraints})"></div>
        </div>
<!--    </main>-->
</div>
</body>
</html>